// site head section
meta(charset="utf-8")
meta(name="author", content="High Pass")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="x-ua-compatible", content="ie=edge")
link(rel="stylesheet", href="css/styles.css")
link(rel="icon", href="favicon.svg", type="image/svg+xml")
title Ситилом
meta(name="description" content="СитиЛом. Прием металла")
