//- script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
script(src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js")
script(src="https://unpkg.com/@popperjs/core@2")
script(src="https://unpkg.com/tippy.js@6")
script(src="js/scripts.js")
