//VARS
$main-background: #F6F6FF;

$main-black: #000000;
$shade-black: #3C3C3C;
$main-orange: #FF9A02;
$pale-orange: #FBEFE2;

.benefits {
  position: relative;
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: $main-background;
  font-family: $font;
  font-weight: 600;
  color: $main-black;
  border-radius: 6px;


  &__title {
    position: relative;
    display: block;
    margin: 0 0 40px 0;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 100%;

    &-highlight {
      color: $main-orange;
    }
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-template-areas:  "b1 bg bg b8"
                          "b2 bg bg b7"
                          "b3 b4 b5 b6";
    background-image: url("/assets/benefits/img/benefits-img.webp");
    background-image: image-set("/assets/benefits/img/benefits-img.webp" 1x, "/assets/benefits/img/benefits-img-2x.webp" 2x, "/assets/benefits/img/benefits-img-3x.webp" 3x);
    background-position: top center;
    background-repeat: no-repeat;
  }

  &__block {
    &--img {
      grid-area: bg;
    }

    &--01 {
      grid-area: b1;
    }

    &--02 {
      grid-area: b2;
    }

    &--03 {
      grid-area: b3;
    }

    &--04 {
      grid-area: b4;
      transform: translateY(-120px);
    }

    &--05 {
      grid-area: b5;
      transform: translateY(-120px);
    }

    &--06 {
      grid-area: b6;
    }

    &--07 {
      grid-area: b7;
    }

    &--08 {
      grid-area: b8;
    }
  }
}

.benefits-block {
  padding-top: 40px;

  &__wrapper {
    position: relative;
    min-height: 220px;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 80px;
    border-width: 8px;
    border-style: solid;
    border-color: $main-background;
    background-color: $main-orange;
    line-height: 80px;
    transform: translate(-50%, -50%);
  }

  &__svg {
    max-width: 40px;
    max-height: 40px;
  }

  &__counter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    border-radius: 100%;
    line-height: 32px;
    background-color: $pale-orange;
  }

  &__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .benefits {
    & .container {
      max-width: 100%;
      min-width: 100%;
      padding-right: 30px;
      padding-left: 30px;
    }

    &__grid {
      padding-top: 450px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas:  "bg bg bg bg bg bg bg bg bg bg bg bg"
                            "bg bg bg bg bg bg bg bg bg bg bg bg"
                            "b1 b1 b1 b1 b2 b2 b2 b2 b3 b3 b3 b3"
                            "b4 b4 b4 b4 b5 b5 b5 b5 b6 b6 b6 b6"
                            ". . b7 b7 b7 b7 b8 b8 b8 b8 . .";
      background-image: url("/assets/benefits/img/benefits-md-img.webp");
      background-image: image-set("/assets/benefits/img/benefits-md-img.webp" 1x, "/assets/benefits/img/benefits-md-img-2x.webp" 2x, "/assets/benefits/img/benefits-md-img-3x.webp" 3x);
      background-position: top center;
      background-repeat: no-repeat;
    }

    &__block {
      &--04 {
        transform: translateY(0);
      }

      &--05 {
        transform: translateY(0);
      }
    }
  }
}

@media (max-width: 575px) {
  .benefits {
    padding-top: 30px;
    padding-bottom: 30px;

    & .container {
      padding-right: 12px;
      padding-left: 12px;
    }

    &__grid {
      padding-top: 250px;
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
      grid-template-areas:  "bg"
                            "b1"
                            "b2"
                            "b3"
                            "b4"
                            "b5"
                            "b6"
                            "b7"
                            "b8";
      background-image: url("/assets/benefits/img/benefits-sm-img.webp");
      background-image: image-set("/assets/benefits/img/benefits-sm-img.webp" 1x, "/assets/benefits/img/benefits-sm-img-2x.webp" 2x, "/assets/benefits/img/benefits-sm-img-3x.webp" 3x);
      background-position: top center;
      background-repeat: no-repeat;
    }
  }

  .benefits-block {
    padding-top: 0;

    &__wrapper {
      display: flex;
      align-items: center;
      min-height: auto;
    }

    &__icon {
      position: relative;
      width: 36px;
      height: 36px;
      min-width: 36px;
      min-height: 36px;
      max-width: 36px;
      max-height: 36px;
      margin-right: 10px;
      border: none;
      left: auto;
      top: auto;
      transform: none;
    }

    &__svg {
      max-width: 17px;
    }

    &__counter {
      position: absolute;
      margin-bottom: 0;
      width: 16px;
      height: 16px;
      min-width: 16px;
      min-height: 16px;
      max-width: 16px;
      max-height: 16px;
      font-size: 12px;
      line-height: 12px;
      z-index: +1;
      transform: translate(-4px, -12px);
    }

    &__text {
      font-size: 12px;
      line-height: 140%;
      text-align: left;
    }
  }
}
