doctype html
html(lang="ru")
  head
    include templates/default/_head.pug
    link(rel="stylesheet", href="assets/benefits/css/styles.css")
  body.body
    include templates/benefits/_benefits.pug
    script(src="assets/benefits/js/scripts.js")
