section.benefits
  .content
    h2.benefits__title Наши #[span(class="benefits__title-highlight") преимущества]
    .benefits__grid
      .benefits-block.benefits__block.benefits__block--img
      .benefits-block.benefits__block.benefits__block--01
        .benefits-block__wrapper
          .benefits-block__counter 01
          .benefits-block__icon
            svg.benefits-block__svg
              use(xlink:href="/img/stack/sprite.svg#01")
          .benefits-block__text Прием лома меди весом от 1 кг и бесплатным вывозом от 300 килограмм.
      .benefits-block.benefits__block.benefits__block--02
        .benefits-block__wrapper
          .benefits-block__counter 02
          .benefits-block__icon
            svg.benefits-block__svg
              use(xlink:href="/img/stack/sprite.svg#02")
          .benefits-block__text Предлагаем удобно сдать медь в любом пункте приема нашей сети.
      .benefits-block.benefits__block.benefits__block--03
        .benefits-block__wrapper
          .benefits-block__counter 03
          .benefits-block__icon
            svg.benefits-block__svg
              use(xlink:href="/img/stack/sprite.svg#03")
          .benefits-block__text Максимальные цены на медный металлолом в Москве и Московской области.
      .benefits-block.benefits__block.benefits__block--04
        .benefits-block__wrapper
          .benefits-block__counter 04
          .benefits-block__icon
            svg.benefits-block__svg
              use(xlink:href="/img/stack/sprite.svg#04")
          .benefits-block__text Безупречная репутация наших приемных пунктов гарантирует честное взвешивание лома.
      .benefits-block.benefits__block.benefits__block--05
        .benefits-block__wrapper
          .benefits-block__counter 05
          .benefits-block__icon
            svg.benefits-block__svg
              use(xlink:href="/img/stack/sprite.svg#05")
          .benefits-block__text Предлагаем на выбор все формы оплаты, скупка меди с оплатой денег сразу, на месте приема
      .benefits-block.benefits__block.benefits__block--06
        .benefits-block__wrapper
          .benefits-block__counter 06
          .benefits-block__icon
            svg.benefits-block__svg
              use(xlink:href="/img/stack/sprite.svg#06")
          .benefits-block__text Индивидуальная стоимость и бонусные условия покупки меди для постоянных партнеров
      .benefits-block.benefits__block.benefits__block--07
        .benefits-block__wrapper
          .benefits-block__counter 07
          .benefits-block__icon
            svg.benefits-block__svg
              use(xlink:href="/img/stack/sprite.svg#07")
          .benefits-block__text Физические лица могут сдать металл без предъявления паспорта
      .benefits-block.benefits__block.benefits__block--08
        .benefits-block__wrapper
          .benefits-block__counter 08
          .benefits-block__icon
            svg.benefits-block__svg
              use(xlink:href="/img/stack/sprite.svg#08")
          .benefits-block__text Юридическим лицам окажем любую помощь в оформлении документации при продаже меди
